<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">New</a>
</p>
<p>
    <input #query (keyup)="filterProducts(query.value)" type="text" class="form-control">
</p>

<table class="table table-striped" [mfData]="filteredProducts" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
    <thead>
        <th>
            <mfDefaultSorter by="title">Title</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter by="price">Price</mfDefaultSorter>
        </th>
        <th>
            Edit
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let p of mf.data">
            <td>{{ p.title }}</td>
            <td>{{ p.price | currency:"INR":true }}</td>
            <td>
                <a [routerLink]="['/admin/products', p.$key]">Edit</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
    </tfoot>
</table>